# Rename this file to .env and replace values

API_URL='example.com'
PORT=5000
NODE_ENV=development
# Salt
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=so-much-secrets
REFRESH_TOKEN_SECRET=snake-dance
# DataBase
DB_HOST=host.com
DB_PORT=3000
# Username
DB_USER=default
DB_PASSWORD=Do-It-Slowly
# DB name
DB_NAME=predictions

# SMTP
SMTP_TEST_EMAIL=example@gmail.com
SMTP_MAIL_TITLE=Mr White
SMTP_HOST=vercel.com
SMTP_PORT=2525
SMTP_USER=example@vercel.com
SMTP_PASSWORD=abcd1234
# Telegram
TELEGRAM_BOT_URL=https://t.me/example-bot
TELEGRAM_BOT_TOKEN=replace-with-real-token
BOT_WEBHOOK_URL=https://your-domain.com/api/telegram/webhook

# Football API
FOOTBALL_API_URL=https://api.football-data.org/v4
FOOTBALL_API_TOKEN=replace-it

# For sumulation problems with DB set 'true'
SIM_DATABASE_DOWN=false
